
*{
	box-sizing: border-box;
	vertical-align: top;
}

main{
	font-size: 18px;
	line-height: 1.6em;
}

h2{
	font-size: 1.8em;
	font-weight: 800;
/*	opacity: 0.7;*/
	letter-spacing: -1px;
	margin: 1.5em 0em 0em 0em;
}

img{
	width: 100%;
}

figure{
	max-width: 25em;
	float: right;
	border: solid 1.5px var(--black);
	margin: 1.5em 0em 1.5em 1.5em;
}

figcaption{
	padding: 7px 15px;
	font-size: 15px;
	border-top: solid 1.5px var(--black);
	color: #eee;
	background: var(--black);
	letter-spacing: 0.5px;
}

figure a{
	text-decoration: none;
	color: inherit;
	font-weight: 200;
}

figure:hover{

}

hr{
	width: 100%;
	opacity: 0;
}