<title> {{.Title}} </title>
<meta name="description" content="Web dev utilities for ordinary people.">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180"  href="/card.png"> 
<link rel="icon" type="image/png" sizes="32x32" href="/card.png"> 
<link rel="icon" type="image/png" sizes="16x16"  href="/card.png"> 

<!-- Facebook Open Graph tags -->
<meta property="og:url" content="https://handy.joodaloop.com" />
<meta property="og:title" content="Handy" />
<meta property="og:description" content="Web dev utilities for ordinary people." />
<meta property="og:image" content="https://handy.joodaloop.com/card.png" />


<!-- Twitter Card (large image card) tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@joodalooped">
<meta name="twitter:title" content="Handy">
<meta name="twitter:description" content="Web dev utilities for ordinary people." />
<meta name="twitter:image" content="https://handy.joodaloop.com/card.png" />

<link rel="stylesheet" type="text/css" href="/css/shared.css"/>