<title> Things You Can Add To A Personal Site </title>
<meta name="description" content="Every single thing I could think of, except my trade secrets.">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180"  href="/favicon.ico"> 
<link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico"> 
<link rel="icon" type="image/png" sizes="16x16"  href="/favicon.ico"> 

<!-- Facebook Open Graph tags -->
<meta property="og:url" content="https://things.joodaloop.com" />
<meta property="og:title" content="{{.Title}}" />
<meta property="og:description" content="Every single thing I could think of, except my trade secrets." />
<meta property="og:image" content="https://things.joodaloop.com/card.png" />


<!-- Twitter Card (large image card) tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@joodalooped">
<meta name="twitter:title" content="{{.Title}}">
<meta name="twitter:description" content="Every single thing I could think of, except my trade secrets." />
<meta name="twitter:image" content="https://things.joodaloop.com/card.png" />

<link rel="stylesheet" type="text/css" href="/css/shared.css"/>